
	
		<%for (var t in tracks) {%>

		<div style="float: left">
			<a class="songname" href='/tracks/<%=urlt[t]%>/#about'>
				<img src="<%=urli[t]%>"> 
			<p class="songname">  <%=tracks[t]%>
			</a>
			
		</div>
		<div style="float: left">  <span style="visibility: hidden">hihi</span>  </div>

		<%}%>
