<form action="/tracks/#about" method="post" enctype="multipart/form-data">  

  <label class="upload_field">Upload a new track:</label> <br><br>
  <span class="btn btn-default btn-file">
  	Browse <input type="file" name="track">
  </span> <br><br>

  <label class="upload_field">Upload a new cover:</label> <br><br>
  <span class="btn btn-default btn-file">
  	Browse <input type="file" name="cover">
  </span> <br><br><br><br>
  
  <button type="submit" class="btn btn-default">Submit</button><br><br>
  <span class="hint upload_field">Supported files: MP3, Wav, and Ogg</span>
</form>