<form action="/tracks/playlist/#about" method="post" enctype="multipart/form-data">  

  <label class="upload_field">Create Playlist Name:</label> <br><br>
  <span class="btn btn-default btn-file">
      Name: <input type="text" name="play_list">
  </span> <br><br>
  
  <button type="submit" class="btn btn-default">Submit</button><br><br>
</form>